@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,500&family=Mada&display=swap");

html {
  font-size: 125%;
}

body {
  margin: 0;
  font-family: "Mada", sans-serif;
  color: $font-main-color;
}

* {
  box-sizing: border-box;
}

.wrapper {
  //max-width: 1280px;
  width: 100%;
  margin: 0 0 0;
  padding: 0 8%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $font-main-color;
  font-family: "Crimson Pro", serif;
  text-transform: capitalize;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
}

h1 {
  padding: 150px 0 60px;
  margin: 0;
}

h2 {
  margin-bottom: 40px;
  font-family: "Mada", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 10px;
}

h3 {
  font-family: "Crimson Pro", serif;
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0 0 1rem;
}

h4 {
  font-family: "Crimson Pro", serif;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 1rem 0 -0.5rem;
}

p {
  line-height: 1.55;
}

input,
textarea {
  width: 100%;
  border: none;
  outline: none;
  &:required:invalid {
    box-shadow: 2px 2px $color-invalid;
  }
}
