header {
  padding: 200px 0 120px;
  & h1 {
    max-width: 860px;
    & span {
      display: inline-block;
      &:first-child {
        width: 100%;
      }
      &.title {
        font-style: oblique;
      }
    }
  }
}

nav {
  & ul {
    background-color: $color-3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

    padding: 10px 10% 10px 15%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & li {
      position: relative;
      &::after {
        position: absolute;
        left: 20%;
        top: 2.4rem;
        content: "";
        width: 60%;
        height: 5px;
        background: $color-5;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.4s ease-in-out;
      }
      &:hover::after {
        transform: scaleX(1);
      }
      & a {
        color: white;
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: lowercase;
        letter-spacing: 0.07rem;
        display: inline-block;
        padding: 15px 50px;
      }
    }
  }
}

.home {
  background: $color-1;
}

.about {
  background: #e0e0d8;
  & .container {
    display: flex;
    width: 100%;
    &-img-profile {
      object-fit: contain;
      width: 30%;
      max-width: 300px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 20px;

      & img {
        width: 100%;
        display: block;
      }
    }
  }
}

.container-icons {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  background: $color-4;
  & .box-icon {
    width: 11.1%;
    text-align: center;
    & p {
      color: #454545;
    }
    & i {
      font-size: 3.5rem;
      text-align: center;
    }
    & img {
      height: 70px;
      & + p {
        margin-top: 13px;
      }
    }
  }
}

.work {
  background: $color-6;
  & .container {
    &-work {
      display: flex;
      margin-bottom: 75px;
      &:nth-child(odd) .container-text {
        order: -1;
        padding-left: 0;
        padding-right: 5%;
      }
    }
    &-img {
      width: 55%;
      padding-top: 35px;
      & img {
        width: 100%;
        border-radius: 10px;
      }
    }
    &-text {
      width: 45%;
    }
    &-icons-mini {
      display: flex;
      margin-bottom: 1rem;
      & .box-icon {
        margin-right: 8px;
        & i {
          color: $font-main-color;
        }
        & img {
          height: 26px;
        }
      }
    }
  }
}

.contact {
  & .container {
    &-content {
      display: flex;
      justify-content: space-between;
    }
    &-form {
      width: 64%;
    }
    &-social {
      width: 35%;
      padding: 129px 0 0 45px;
      &-i {
        display: flex;
        justify-content: center;
        & ul {
          display: flex;
          justify-content: space-around;
          width: 50%;
          & li {
            transition: all 0.3s ease;
            & i {
              transition: all 0.3s ease;
              color: $color-3;
            }
            &:hover {
              transform: scale(1.5);
              & i {
                color: $color-1;
              }
            }
          }
        }
      }
    }
  }
}

.contact {
  background: $color-5;
  & form {
    & label {
      pointer-events: none;
      display: block;
      transform: translateY(-46px);
      padding-left: 13px;
      margin-bottom: 0;
      color: $label-color;
      transition: all 0.2s ease;
      &.message {
        transform: translateY(-142px);
      }
      & .required {
        color: $color-invalid;
      }
    }
    & input,
    textarea {
      border-radius: 0;
      padding: 1.6rem 0.6rem 0.4rem;
      border: 2px solid $color-5;
      &::placeholder {
        color: white;
        font-size: 1rem;
      }
      &:required:valid,
      &:focus {
        & + label {
          color: $color-1;
          font-size: 0.7rem;
          transform: translateY(-56px);
          margin-bottom: 7px;
          &.message {
            transform: translateY(-144px);
          }
        }
      }
      &:focus {
        border: 2px solid $color-3;
      }
    }
    & textarea {
      resize: none;
      height: 150px;
    }
  }
}

footer {
  text-align: center;
  padding: 25px 0 20px;
  & p {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 600;
  }
}
